.product-container {
  position: relative;
  margin-bottom: 20px;
}

.product-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 10px 20px;
  background-color: #1168D0;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-label:hover {
  background-color: #1168D0;
}

.product-preview {
  border: 1px solid;
  border-color: #1168D0;
  border-radius: 0.5rem;
}